body {
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url(../img/admin-background.jpg);
  background-position: center;
  background-size: cover;
}
.nav-container_cs {
  margin: 0 5%;
}

.table-container_cs {
  /* background-color: red; */
  overflow-x: auto;
  padding: 0;
  position: relative;
  top: 10%;
}
.table-container_cs table {
  background-color: rgb(71, 77, 73);
  border: none;
  border-radius: 0.5vmax;
}
.table-container_cs tbody td:hover {
  color: black;
  background-color: rgb(172, 172, 172);
}
.table-container_cs tbody .delete {
  text-align: center;
}
.table-container_cs tbody .delete a {
  padding: 10% 40%;

  text-decoration: none;
  color: white;
  cursor: pointer;
  text-align: center;
}
tbody,
td,
tfoot,
th,
thead,
tr {
  border: none;
  color: white;
}
.table-container_cs tbody .delete a:hover {
  color: red;
}
.table-container_cs tbody .firstname,
.lastname {
  text-transform: capitalize;
}
.btn-container_cs {
  position: relative;
  top: 10%;
  text-align: center;
  margin-top: 5%;
}
.btn-container_cs a {
  text-decoration: none;
  margin: 0% 2%;
  padding: 1% 3%;
  border-radius: 0.5vmax;
  transition: all 0.2s;
}
.btn-container_cs a:first-child {
  color: green;
  background-color: lightgreen;
}
.btn-container_cs a:first-child:hover {
  color: white;
  background-color: green;
}
.btn-container_cs a:last-child {
  color: blue;
  background-color: lightblue;
}
.btn-container_cs a:last-child:hover {
  color: white;
  background-color: blue;
}
.loading {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgb(56, 55, 55);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite;
}
.loader::before,
.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 5px solid #fff;
  animation: prixClipFix 2s linear infinite;
}
.loader::after {
  border-color: #ff3d00;
  animation: prixClipFix 2s linear infinite, rotate 0.5s linear infinite reverse;
  inset: 6px;
}
.hidden {
  display: none;
}
.show {
  display: flex;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  25% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
  75% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
  }
  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
  }
}
@media (max-width: 768px) {
  .table-container_cs {
    margin: 0 2%;
  }
}
