body {
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  display: flex;
  justify-content: center;
  align-items: center;
}
.profile-container {
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(255, 94, 247, 1) 17.8%,
    rgba(2, 245, 255, 1) 100.2%
  );
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2vmax;
  padding: auto;
  margin: auto 2%;
  position: relative;
}

.profile-back {
  position: absolute;
  color: rgb(0, 0, 0);
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5vmax;
  top: 3%;
  left: 2%;
  text-decoration: none;
  background-color: rgb(255, 255, 255);
}
.profile-back:hover {
  background-color: gray;
  color: white;
}
.profile-container .profile-body {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.profile-container .user-img {
  width: 60%;
}
.profile-container .profile-input {
  margin: 5% auto;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.profile-input input {
  color: white;
  font-size: 1.5rem;
  margin: 3% auto;
  width: 80%;
  padding: 3% 2%;
  background-color: transparent;
  border: none;
  outline: none;
}
.profile-input input:focus {
  border-bottom: 1px solid white;
}

.profile-btns {
  width: 100%;
  text-align: center;
}
.profile-btns > * {
  margin: auto 4%;
  transition: all 0.2s;
}
.profile-btns button {
  border: none;
  color: white;
  background-color: rgb(0, 0, 0);
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 2% 10%;
  border-radius: 0.5vmax;
}
.profile-btns button:hover {
  background-color: white;
  color: black;
}
.profile-btns a {
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 2% 8%;
  background-color: white;
  color: black;
  border-radius: 0.5vmax;
}
.profile-btns a:hover {
  color: white;
  background-color: rgb(0, 0, 0);
}

@media (max-width: 450px) {
  .profile-back {
    width: 25px;
    height: 25px;
    font-size: 13px;
  }
  .profile-container .user-img {
    width: 40%;
  }
  .profile-container .col-6 {
    width: 100%;
    height: auto;
  }
}
