@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
body {
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  display: flex;
  justify-content: center;
  align-items: center;
}
.error-container {
  background-color: rgba(255, 33, 81, 0.719);
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2%;
  border-radius: 1.5vmax;
  box-shadow: 5px 10px rgba(61, 61, 61, 0.603);
}
.error-container h1 {
  font-size: 1.5rem;
  width: 50%;
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
}
.error-container a {
  color: rgba(255, 33, 81, 0.719);
  border-radius: 0.5vmax;
  background-color: black !important;
  text-decoration: none;
  text-transform: capitalize;
  padding: 10px 8px;
  background-color: rgb(151, 151, 235);
  font-family: "Josefin Sans", sans-serif;
  transition: all 0.2s;
}
.error-container a:hover {
  background-color: rgba(112, 20, 40, 0.719) !important;
  color: white;
}
.loading {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgb(56, 55, 55);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite;
}
.loader::before,
.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 5px solid #fff;
  animation: prixClipFix 2s linear infinite;
}
.loader::after {
  border-color: #ff3d00;
  animation: prixClipFix 2s linear infinite, rotate 0.5s linear infinite reverse;
  inset: 6px;
}
.hidden {
  display: none;
}
.show {
  display: flex;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  25% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
  75% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
  }
  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
  }
}
@media (max-width: 768px) {
  .error-container {
    margin: 5%;
  }
  .error-container h1 {
    font-size: 1.3rem;
  }
}
