@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&display=swap");
body {
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  display: flex;
  justify-content: center;
  align-items: center;
}
.admin-login {
  height: 20rem;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 1vmax;
  box-shadow: 4px 4px 10px rgb(72, 71, 71);
  background-image: url(../img/login-background.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: lightgreen;
}
.admin-container .admin-login > * {
  width: 60% !important;
  height: 2rem;
  margin: 1.5% auto;
  border-radius: 0.5vmax;
  border: none;
  outline: none;
  font-family: "Comfortaa", cursive;
}
.admin-container .admin-login input {
  padding-left: 0.5rem;
  background-color: rgb(62, 252, 62);
  color: white;
}

.admin-login input::placeholder {
  color: white;
}
.admin-login input:focus {
  background-color: white;
  color: rgb(62, 252, 62);
  border: 2px solid rgb(62, 252, 62);
}
.admin-login button {
  background-color: rgb(61, 206, 255);
  color: white;
  transition: all 0.2s;
}
.admin-login button:hover {
  background-color: lightblue;
  color: black;
}
.loading {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgb(56, 55, 55);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite;
}
.loader::before,
.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 5px solid #fff;
  animation: prixClipFix 2s linear infinite;
}
.loader::after {
  border-color: #ff3d00;
  animation: prixClipFix 2s linear infinite, rotate 0.5s linear infinite reverse;
  inset: 6px;
}
.hidden {
  display: none;
}
.show {
  display: flex;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  25% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
  75% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
  }
  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
  }
}
@media (max-width: 768px) {
  .admin-login {
    width: 90% !important;
  }
  .admin-container .admin-login > * {
    width: 70% !important;
    font-size: 90%;
  }
}
