body {
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  display: flex;
  justify-content: center;
  align-items: center;
}
.profile-container {
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(255, 94, 247, 1) 17.8%,
    rgba(2, 245, 255, 1) 100.2%
  );
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2vmax;
}
.profile-container .profile-body {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.profile-container .user-img {
  width: 60%;
}
.profile-container .profile-input {
  margin: 5% auto;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.profile-input input {
  font-size: 1.5rem;
  margin: 3% auto;
  width: 80%;
  padding: 3% 2%;
  background-color: transparent;
  border: none;
  outline: none;
}
.profile-input input:focus {
  border-bottom: 2px solid rgb(214, 43, 248);
}

.profile-btns {
  width: 100%;
  text-align: center;
}
.profile-btns > * {
  margin: auto 4%;
}
.profile-btns button {
  border: none;
  padding: 2% 10%;
  background-color: rgb(194, 221, 218);
}
